<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.jaguweb.aoclasses">
	<uses-permission	android:name="android.permission.INTERNET"/>
	<uses-permission	android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission	android:name="android.permission.CAMERA"/>
	<uses-permission	android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission	android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<application
		android:allowBackup="true"
		android:label="AO CLASSES"
		android:icon="@drawable/app_icon"
		android:largeHeap="true"
		android:name=".SketchApplication"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize">
			<intent-filter>
				<action	android:name="android.intent.action.MAIN"/>
				<category	android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".SplashPageActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".LoginActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".OnlineClassesActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".ZoomActivity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".GoogleMeetActivity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".HangoutsActivity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".CiscoActivity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".GoogleClassroomActivity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".WhiteBoardActivity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".MsTeamsActivity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".SkypeActivity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".GotomeetingActivity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".OnlineFormsActivity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".FilesActivity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".ScanActivity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".GoogleFormsActivity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".SplashScrActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".MsFormsActivity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".WufooActivity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".JotformsActivity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".FormstackActivity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".TypeformActivity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".PaperformsActivity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".FormsiteActivity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".BoardActivity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".Cbse_1Activity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".Cbse_2Activity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".Cbse_3Activity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".CbseActivity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".Cbse_4Activity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".Cbse_5Activity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".ConvertImgPdfActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".NotesActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".NotesEditorActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".WhiteBoardsActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".ProfileActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".ProfileEditorActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".IcseQBankActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".DavQBankActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".ViewPdfActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".TypePdfActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".LiveboardActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".JamboradActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".MiroActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".StormboardActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".AnnotatorActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".LimnuActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".FreehandActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".AwwActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".SketchboardActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".ConceptboardActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".ExplaineverythingActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".BoardFoxActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".MuralActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Cbse_6Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Cbse_7Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Cbse_8Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Cbse_9Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Cbse_10Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Cbse_11Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Cbse_12Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Icse_1Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Icse_2Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Icse_3Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Icse_4Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Icse_5Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Icse_6Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Icse_7Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Icse_8Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Icse_9Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Icse_10Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Icse_11Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Icse_12Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Edu2020Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".MoreByJaguwebActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".AboutFeatureaActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".WalkthroughActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".PrivacyPolicyActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".TermsConditionsActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".SmartClassesActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".BooksBoardActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".CbseBooksActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".IcseBooksActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".DavBooksActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Cbseb1Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Cbseb2Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Cbseb3Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Cbseb4Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Cbseb5Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Cbseb6Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Cbseb7Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Cbseb8Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Cbseb9Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Cbseb10Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Cbseb11Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Cbseb12Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Icseb1Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Icseb2Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Icseb3Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Icseb4Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Icseb5Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Icseb6Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Icseb7Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Icseb8Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Icseb9Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Icseb10Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Icseb11Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".Icseb12Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".SupportAppsPolicyActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".SupportWebPolicyActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".AppsWebsPolicyActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".DocumentationActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".AoWhiteboardActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".OlabActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".CommingSoonActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".RecommendedActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".JitsiMeetActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".ReleaseMoreInfoActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".UpdateInfoActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".WhatsNewActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".QuizzesActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".CreateQuizActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"/>
		<activity
			android:name=".DebugActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name="com.google.android.gms.ads.AdActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
			android:theme="@android:style/Theme.Translucent"/>
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version"/>
		<provider
			android:name="com.google.firebase.provider.FirebaseInitProvider"
			android:authorities="com.jaguweb.aoclasses.firebaseinitprovider"
			android:exported="false"
			android:initOrder="100"/>
		<service
			android:name="com.google.firebase.components.ComponentDiscoveryService"
			android:exported="false">
			<meta-data
				android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar"
				android:value="com.google.firebase.components.ComponentRegistrar"/>
			<meta-data
				android:name="com.google.firebase.components:com.google.firebase.database.DatabaseRegistrar"
				android:value="com.google.firebase.components.ComponentRegistrar"/>
		</service>
		<provider
			android:authorities="com.jaguweb.aoclasses.provider"
			android:name="androidx.core.content.FileProvider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/provider_paths"/>
		</provider>
		<uses-library
			android:name="org.apache.http.legacy"
			android:required="false"/>
	</application>
</manifest>
